{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Provincia</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/procesarActualizacionProvincia/"
      method="post"
      id="form-add-provincia"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_sl"
        name="id_sl"
        value="{{provincia.id_sl}}"
        hidden
      />
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_sl"
          id="nombre_sl"
          placeholder="Tungurahua"
          required
          value="{{provincia.nombre_sl}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Capital</label>
        <input
          class="form-control"
          type="text"
          name="capital_sl"
          id="capital_sl"
          placeholder="Ambato"
          required
          value="{{provincia.capital_sl}}"
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Region</label>
          <input
            class="form-control"
            type="text"
            name="region_sl"
            id="region_sl"
            placeholder="Sierra"
            required
            value="{{provincia.region_sl}}"
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Fecha Fundacion</label>
          <input
            class="form-control"
            type="date"
            name="fecha_fundacion_sl"
            id="fecha_fundacion_sl"
            required
            value="{{provincia.fecha_fundacion_sl|date:'Y-m-d'}}"
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Alcalde</label>
        <input
          class="form-control"
          type="text"
          name="alcalde_sl"
          id="alcalde_sl"
          placeholder="Juan Perez"
          required
          value="{{provincia.alcalde_sl}}"
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/"> Cancelar </a>
      </div>
    </form>
  </div>
</div>

{% endblock contenido %}
