{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Cliente</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/procesarActualizacionCliente/"
      method="post"
      id="form-add-cliente"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_sl"
        name="id_sl"
        value="{{cliente.id_sl}}"
        hidden
      />
      <div class="mb-4">
        <label class="mb-1">Nombre Completo</label>
        <input
          class="form-control"
          type="text"
          name="nombre_sl"
          id="nombre_sl"
          placeholder="Juan Perez"
          required
          value="{{cliente.nombre_sl}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Direccion</label>
        <input
          class="form-control"
          type="text"
          name="direccion_sl"
          id="direccion_sl"
          placeholder="Av patria entre la plaza"
          required
          value="{{cliente.direccion_sl}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Email</label>
        <input
          class="form-control"
          type="email"
          name="correo_sl"
          id="correo_sl"
          placeholder="juan125@gmail.com"
          required
          value="{{cliente.correo_sl}}"
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Cedula</label>
          <input
            class="form-control"
            type="text"
            name="cedula_sl"
            id="cedula_sl"
            placeholder="1875854858"
            required
            value="{{cliente.cedula_sl}}"
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label for="" class="mb-1">Provincia</label>
          <select name="provincia_sl" id="provincia_sl" class="form-control" required>
            <option value="" disabled>Provincia</option>
            {% for provincia in provincias %}
              <option value="{{provincia.id_sl}}">{{provincia.nombre_sl}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/clientes"> Cancelar </a>
      </div>
    </form>
  </div>
</div>

<script>
    document.getElementById('provincia_sl').value = "{{cliente.provincia_sl.id_sl}}"
</script>

{% endblock contenido %}
