{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Receta</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/procesarActualizacionReceta/"
      method="post"
      id="form-add-receta"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_sl"
        name="id_sl"
        value="{{receta.id_sl}}"
        hidden
      />
      <div class="mb-4">
        <label class="mb-1">Platillo</label>
        <select name="platillo_sl" id="platillo_sl" class="form-control" required>
            <option value="">--Platillo--</option>
            {% for platillo in platillos %}
                <option value="{{platillo.id_sl}}">{{platillo.nombre_sl}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_sl"
          id="descripcion_sl"
          placeholder="Delicioso pollo al horno"
          required
          value="{{receta.descripcion_sl}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Instrucciones</label>
        <input
          class="form-control"
          type="text"
          name="instrucciones_sl"
          id="instrucciones_sl"
          placeholder="Preparar por 2 horas"
          required
          value="{{receta.instrucciones_sl}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Ingrediente</label>
        <select name="ingrediente_sl" id="ingrediente_sl" class="form-control" required>
            <option value="">--Ingrediente--</option>
            {% for ingrediente in ingredientes %}
                <option value="{{ingrediente.id_sl}}">{{ingrediente.nombre_sl}}</option>
            {% endfor %}
        </select>
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/recetas"> Cancelar </a>
      </div>
    </form>
  </div>
</div>

<script>
    document.getElementById('platillo_sl').value = "{{receta.platillo_sl.id_sl}}"
    document.getElementById('ingrediente_sl').value = "{{receta.ingrediente_sl.id_sl}}"
</script>

{% endblock contenido %}
