{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Ingrediente</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/procesarActualizacionIngrediente/"
      method="post"
      id="form-add-ingrediente"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_sl"
        name="id_sl"
        value="{{ingrediente.id_sl}}"
        hidden
      />
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_sl"
          id="nombre_sl"
          placeholder="Harina"
          required
          value="{{ingrediente.nombre_sl}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_sl"
          id="descripcion_sl"
          value="{{ingrediente.descripcion_sl}}"
          placeholder="Harina de maiz tierna"
          required
        />
      </div>
        <div class="row">
          <div class="mb-4 col-lg-4">
              <label class="mb-1">Cantidad</label>
              <input
              class="form-control"
              type="number"
              name="cantidad_sl"
              id="cantidad_sl"
              value="{{ingrediente.cantidad_sl}}"
              placeholder="5"
              required
              />
            </div>
          <div class="mb-4 col-lg-8">
              <label class="mb-1">Proveedor</label>
              <input
              class="form-control"
              type="text"
              name="proveedor_sl"
              id="proveedor_sl"
              value="{{ingrediente.proveedor_sl}}"
              placeholder="Paca"
              required
              />
            </div>
        </div>      
        <div class="mb-4">
          <label class="mb-1">Imagen</label>
          {% if ingrediente.imagen_sl %}
                <img
                  src="{{ingrediente.imagen_sl.url}}"
                  alt="tipo ingrediente"
                  width="100px"
                />
                {% else %}
                <input
                  type="file"
                  class="form-control"
                  id="imagen_sl"
                  value="{{ingrediente.imagen_sl}}"
                  name="imagen_sl"
                  accept="image/*"
                />
                {% endif %}
        </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/ingredientes"> Cancelar </a>
      </div>
    </form>
  </div>
</div>


{% endblock contenido %}
