{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Tipo</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/procesarActualizacionTipo/"
      method="post"
      id="form-add-tipo"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_sl"
        name="id_sl"
        value="{{tipo.id_sl}}"
        hidden
      />
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_sl"
          id="nombre_sl"
          placeholder="Comida Costa"
          required
          value="{{tipo.nombre_sl}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_sl"
          id="descripcion_sl"
          placeholder="Comida deliciosa de la costa"
          required
          value="{{tipo.descripcion_sl}}"
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Fecha Registro</label>
          <input
            class="form-control"
            type="date"
            name="fecha_sl"
            id="fecha_sl"
            required
            value="{{tipo.fecha_sl|date:'Y-m-d'}}"
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Imagen</label>
            {% if tipo.imagen_sl %}
                <img
                  src="{{tipo.imagen_sl.url}}"
                  alt="tipo platillo"
                  width="100px"
                />
                {% else %}
                <input
                  type="file"
                  class="form-control"
                  id="imagen_sl"
                  value="{{tipo.imagen_sl}}"
                  name="imagen_sl"
                  accept="image/*"
                />
                {% endif %}
        </div>
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/tipos"> Cancelar </a>
      </div>
    </form>
  </div>
</div>

{% endblock contenido %}
