{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Pedido</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/procesarActualizacionPedido/"
      method="post"
      id="form-add-pedido"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_sl"
        name="id_sl"
        value="{{pedido.id_sl}}"
        hidden
      />
      <div class="row">
        <div class="mb-4 col-lg-6">
            <label class="mb-1">Fecha</label>
            <input
            class="form-control"
            type="date"
            name="fecha_sl"
            id="fecha_sl"
            value="{{pedido.fecha_sl|date:'Y-m-d'}}"
            required
            />
          </div>
          <div class="mb-4 col-lg-6">
              <label class="mb-1">Estado</label>
              <input
              class="form-control"
              type="text"
              name="estado_sl"
              id="estado_sl"
              placeholder="En proceso"
              required
              value="{{pedido.estado_sl}}"
              />
          </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Observaciones</label>
        <input
          class="form-control"
          type="text"
          name="observaciones_sl"
          id="observaciones_sl"
          placeholder="Pedido de urgencia para 10 min"
          value="{{pedido.observaciones_sl}}"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Cliente</label>
        <select name="cliente_sl" id="cliente_sl" class="form-control" required>
          <option value="">--Cliente--</option>
          {% for cliente in clientes %}
            <option value="{{cliente.id_sl}}">{{cliente.nombre_sl}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/pedidos"> Cancelar </a>
      </div>
    </form>
  </div>
</div>

<script>
    document.getElementById('cliente_sl').value = "{{pedido.cliente_sl.id_sl}}"
    console.log("{{pedido.cliente_sl.id_sl}}")
</script>

{% endblock contenido %}
