{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Platillo</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/procesarActualizacionPlatillo/"
      method="post"
      id="form-add-platillo"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_sl"
        name="id_sl"
        value="{{platillo.id_sl}}"
        hidden
      />
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_sl"
          id="nombre_sl"
          placeholder="Churrazco"
          required
          value="{{platillo.nombre_sl}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_sl"
          id="descripcion_sl"
          placeholder="Comida tipica de la Sierra con ricos sabores"
          required
          value="{{platillo.descripcion_sl}}"
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Precio</label>
          <input
            class="form-control"
            type="number"
            name="precio_sl"
            id="precio_sl"
            placeholder="4.55"
            required
            value="{{platillo.precio_sl}}"
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label for="" class="mb-1">Tipo</label>
          <select name="tipo_sl" id="tipo_sl" class="form-control" required>
            <option value="" disabled>Tipo</option>
            {% for tipo in tipos %}
              <option value="{{tipo.id_sl}}">{{tipo.nombre_sl}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Imagen</label>
        {% if platillo.imagen_sl %}
                <img
                  src="{{platillo.imagen_sl.url}}"
                  alt="tipo platillo"
                  width="100px"
                />
                {% else %}
                <input
                  type="file"
                  class="form-control"
                  id="imagen_sl"
                  value="{{platillo.imagen_sl}}"
                  name="imagen_sl"
                  accept="image/*"
                />
                {% endif %}
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/platillos"> Cancelar </a>
      </div>
    </form>
  </div>
</div>

<script>
    document.getElementById('tipo_sl').value = "{{platillo.tipo_sl.id_sl}}"
</script>

{% endblock contenido %}
