{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Platillos</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/guardarPlatillo/"
      method="post"
      id="form-add-platillo"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_sl"
          id="nombre_sl"
          placeholder="Churrazco"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_sl"
          id="descripcion_sl"
          placeholder="Comida tipica de la Sierra con ricos sabores"
          required
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Precio</label>
          <input
            class="form-control"
            type="number"
            step="0.01"
            name="precio_sl"
            id="precio_sl"
            placeholder="4.55"
            required
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label for="" class="mb-1">Tipo</label>
          <select name="tipo_sl" id="tipo_sl" class="form-control" required>
            <option value="" disabled>Tipo</option>
            {% for tipo in tipos %}
              <option value="{{tipo.id_sl}}">{{tipo.nombre_sl}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Imagen</label>
        <input
          class="form-control"
          type="file"
          name="imagen_sl"
          id="imagen_sl"
          accept="image/*"
          required
        />
      </div>
      

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    <h3 class="text-center mt-4">Lista de Platillos</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4" id="tabla">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Tipo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for platillo in platillos %}
        <tr>
          <td>
            {% if platillo.imagen_sl %}
            <img width="50" src="{{platillo.imagen_sl.url}}" alt="{{platillo.nombre_sl}}">
            {% else %}
            <p>SN</p>
            {% endif %}
        </td>
          <td>{{platillo.nombre_sl}}</td>
          <td>{{platillo.descripcion_sl}}</td>
          <td>{{platillo.precio_sl}}</td>
          <td>{{platillo.tipo_sl.nombre_sl}}</td>
          <td>
            <a
              class="btn btn-eliminar"
              href="javascript:void(0)"
              onclick="eliminarFila('/eliminarPlatillo/{{platillo.id_sl}}')"
              > Eliminar</a
            ><a class="btn btn-editar" href="/editarPlatillo/{{platillo.id_sl}}">
              Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock contenido %}
