{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Ingredientes</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/guardarIngrediente/"
      method="post"
      id="form-add-ingrediente"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_sl"
          id="nombre_sl"
          placeholder="Harina"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_sl"
          id="descripcion_sl"
          placeholder="Harina de maiz tierna"
          required
        />
      </div>
        <div class="row">
          <div class="mb-4 col-lg-4">
              <label class="mb-1">Cantidad</label>
              <input
              class="form-control"
              type="number"
              name="cantidad_sl"
              id="cantidad_sl"
              placeholder="5"
              required
              />
            </div>
          <div class="mb-4 col-lg-8">
              <label class="mb-1">Proveedor</label>
              <input
              class="form-control"
              type="text"
              name="proveedor_sl"
              id="proveedor_sl"
              placeholder="Paca"
              required
              />
            </div>
        </div>      
        <div class="mb-4">
          <label class="mb-1">Imagen</label>
          <input name="imagen_sl" id="imagen_sl" type="file" required class="form-control" accept="image/*">
        </div>
      

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    <h3 class="text-center mt-4">Lista de Ingredientes</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4" id="tabla">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Cantidad</th>
          <th>Proveedor</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for ingrediente in ingredientes %}
        <tr>
          <td>
            {% if ingrediente.imagen_sl %}
                <img width="50" src="{{ingrediente.imagen_sl.url}}" alt="{{ingrediente.nombre_sl}}">
            {% else %}
                <p>NA</p>
            {% endif %}
         </td>
          <td>{{ingrediente.nombre_sl}}</td>
          <td>{{ingrediente.descripcion_sl}}</td>
          <td>{{ingrediente.cantidad_sl}}</td>
          <td>{{ingrediente.proveedor_sl}}</td>
          <td>
            <a
              class="btn btn-eliminar"
              href="javascript:void(0)"
              onclick="eliminarFila('/eliminarIngrediente/{{ingrediente.id_sl}}')"
              > Eliminar</a
            ><a class="btn btn-editar" href="/editarIngrediente/{{ingrediente.id_sl}}">
              Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock contenido %}
