{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Provincias</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/guardarProvincia/"
      method="post"
      id="form-add-provincia"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_sl"
          id="nombre_sl"
          placeholder="Tungurahua"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Capital</label>
        <input
          class="form-control"
          type="text"
          name="capital_sl"
          id="capital_sl"
          placeholder="Ambato"
          required
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Region</label>
          <input
            class="form-control"
            type="text"
            name="region_sl"
            id="region_sl"
            placeholder="Sierra"
            required
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Fecha Fundacion</label>
          <input
            class="form-control"
            type="date"
            name="fecha_fundacion_sl"
            id="fecha_fundacion_sl"
            required
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Alcalde</label>
        <input
          class="form-control"
          type="text"
          name="alcalde_sl"
          id="alcalde_sl"
          placeholder="Juan Perez"
          required
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    <h3 class="text-center mt-4">Lista de Provincias</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4" id="tabla">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Capital</th>
          <th>Alcalde</th>
          <th>Region</th>
          <th>Fecha Fundacion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for provincia in provincias %}
        <tr>
          <td>{{provincia.nombre_sl}}</td>
          <td>{{provincia.capital_sl}}</td>
          <td>{{provincia.alcalde_sl}}</td>
          <td>{{provincia.region_sl}}</td>
          <td>{{provincia.fecha_fundacion_sl}}</td>
          <td>
            <a
              class="btn btn-eliminar"
              href="javascript:void(0)"
              onclick="eliminarFila('/eliminarProvincia/{{provincia.id_sl}}')"
              > Eliminar</a
            ><a class="btn btn-editar" href="/editarProvincia/{{provincia.id_sl}}">
              Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock contenido %}
