{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Recetas</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/guardarReceta/"
      method="post"
      id="form-add-receta"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Platillo</label>
        <select name="platillo_sl" id="platillo_sl" class="form-control" required>
            <option value="">--Platillo--</option>
            {% for platillo in platillos %}
                <option value="{{platillo.id_sl}}">{{platillo.nombre_sl}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_sl"
          id="descripcion_sl"
          placeholder="Delicioso pollo al horno"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Instrucciones</label>
        <input
          class="form-control"
          type="text"
          name="instrucciones_sl"
          id="instrucciones_sl"
          placeholder="Preparar por 2 horas"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Ingrediente</label>
        <select name="ingrediente_sl" id="ingrediente_sl" class="form-control" required>
            <option value="">--Ingrediente--</option>
            {% for ingrediente in ingredientes %}
                <option value="{{ingrediente.id_sl}}">{{ingrediente.nombre_sl}}</option>
            {% endfor %}
        </select>
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    <h3 class="text-center mt-4">Lista de Recetas</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4" id="tabla">
      <thead>
        <tr>
            <th>Platillo</th>
          <th>Descripcion</th>
          <th>Instrucciones</th>
          <th>Ingredientes</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for receta in recetas %}
        <tr>
            <td>{{receta.platillo_sl}}</td>
          <td>{{receta.descripcion_sl}}</td>
          <td>{{receta.instrucciones_sl}}</td>
          <td>{{receta.ingrediente_sl}}</td>
          <td>
            <a
              class="btn btn-eliminar"
              href="javascript:void(0)"
              onclick="eliminarFila('/eliminarReceta/{{receta.id_sl}}')"
              > Eliminar</a
            ><a class="btn btn-editar" href="/editarReceta/{{receta.id_sl}}">
              Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock contenido %}
