{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Detalles</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/guardarDetalle/"
      method="post"
      id="form-add-detalle"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_sl"
          id="descripcion_sl"
          placeholder="Va a pagar con moneda local"
          required
        />
      </div>
        <div class="row">
          <div class="mb-4 col-lg-6">
              <label class="mb-1">Cantidad</label>
              <input
              class="form-control"
              type="number"
              step="0.01"
              name="cantidad_sl"
              id="cantidad_sl"
              placeholder="5"
              required
              />
            </div>
        </div>
        
        <div class="mb-4">
          <label class="mb-1">Platillo</label>
          <select name="platillo_sl" id="platillo_sl" class="form-control" required>
            <option value="">--Seleccciona Platillo--</option>
            {% for platillo in platillos %}
              <option value="{{platillo.id_sl}}">{{platillo.nombre_sl}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-4">
          <label class="mb-1">Pedido</label>
          <select name="pedido_sl" id="pedido_sl" class="form-control" required>
            <option value="">--Seleccciona Pedido--</option>
            {% for pedido in pedidos %}
              <option value="{{pedido.id_sl}}">{{pedido.cliente_sl.nombre_sl}} -  {{pedido.fecha_sl}}</option>
            {% endfor %}
          </select>
        </div>
      

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    <h3 class="text-center mt-4">Lista de Detalles</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4" id="tabla">
      <thead>
        <tr>
          <th>Descripcion</th>
          <th>Cantidad</th>
          <th>Pedido</th>
          <th>Platillo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for detalle in detalles %}
        <tr>
          <td>{{detalle.descripcion_sl}}</td>
          <td>{{detalle.cantidad_sl}}</td>
          <td>{{detalle.pedido_sl}}</td>
          <td>{{detalle.platillo_sl.nombre_sl}}</td>
          <td>
            <a
              class="btn btn-eliminar"
              href="javascript:void(0)"
              onclick="eliminarFila('/eliminarPedido/{{pedido.id_sl}}')"
              > Eliminar</a
            ><a class="btn btn-editar" href="/editarPedido/{{pedido.id_sl}}">
              Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  const cantidad = 5
</script>

{% endblock contenido %}
