{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Tipos</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/guardarTipo/"
      method="post"
      id="form-add-tipo"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_sl"
          id="nombre_sl"
          placeholder="Comida Costa"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_sl"
          id="descripcion_sl"
          placeholder="Comida deliciosa de la costa"
          required
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Fecha Registro</label>
          <input
            class="form-control"
            type="date"
            name="fecha_sl"
            id="fecha_sl"
            required
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Imagen</label>
          <input
            class="form-control"
            type="file"
            accept="image/*"
            name="imagen_sl"
            id="imagen_sl"
            required
          />
        </div>
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    <h3 class="text-center mt-4">Lista de Tipos</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4" id="tabla">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Fecha Registro</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for tipo in tipos %}
        <tr>
          <td>
            {% if tipo.imagen_sl %}
                <img width="50" height="50" src="{{tipo.imagen_sl.url}}" alt="{{tipo.nombre_sl}}"></td>
            {% else %}
            <p>SN</p>
            {% endif %}
          <td>{{tipo.nombre_sl}}</td>
          <td>{{tipo.descripcion_sl}}</td>
          <td>{{tipo.fecha_sl}}</td>
          <td>
            <a
              class="btn btn-eliminar"
              href="javascript:void(0)"
              onclick="eliminarFila('/eliminarTipo/{{tipo.id_sl}}')"
              > Eliminar</a
            ><a class="btn btn-editar" href="/editarTipo/{{tipo.id_sl}}">
              Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock contenido %}
