{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Clientes</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/guardarCliente/"
      method="post"
      id="form-add-cliente"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Nombre Completo</label>
        <input
          class="form-control"
          type="text"
          name="nombre_sl"
          id="nombre_sl"
          placeholder="Juan Perez"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Direccion</label>
        <input
          class="form-control"
          type="text"
          name="direccion_sl"
          id="direccion_sl"
          placeholder="Av patria entre la plaza"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Email</label>
        <input
          class="form-control"
          type="email"
          name="correo_sl"
          id="correo_sl"
          placeholder="juan125@gmail.com"
          required
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Cedula</label>
          <input
            class="form-control"
            type="text"
            name="cedula_sl"
            id="cedula_sl"
            placeholder="1875854858"
            required
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label for="" class="mb-1">Provincia</label>
          <select name="provincia_sl" id="provincia_sl" class="form-control" required>
            <option value="" disabled>Provincia</option>
            {% for provincia in provincias %}
              <option value="{{provincia.id_sl}}">{{provincia.nombre_sl}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    <h3 class="text-center mt-4">Lista de Provincias</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4" id="tabla">
      <thead>
        <tr>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Correo</th>
          <th>Provincia</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
        <tr>
          <td>{{cliente.cedula_sl}}</td>
          <td>{{cliente.nombre_sl}}</td>
          <td>{{cliente.direccion_sl}}</td>
          <td>{{cliente.correo_sl}}</td>
          <td>{{cliente.provincia_sl.nombre_sl}}</td>
          <td>
            <a
              class="btn btn-eliminar"
              href="javascript:void(0)"
              onclick="eliminarFila('/eliminarCliente/{{cliente.id_sl}}')"
              > Eliminar</a
            ><a class="btn btn-editar" href="/editarCliente/{{cliente.id_sl}}">
              Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock contenido %}
