{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Pedidos</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark text-white"
      action="/guardarPedido/"
      method="post"
      id="form-add-pedido"
    >
      {% csrf_token %}
        <div class="row">
          <div class="mb-4 col-lg-6">
              <label class="mb-1">Fecha</label>
              <input
              class="form-control"
              type="date"
              name="fecha_sl"
              id="fecha_sl"
              required
              />
            </div>
            <div class="mb-4 col-lg-6">
                <label class="mb-1">Estado</label>
                <input
                class="form-control"
                type="text"
                name="estado_sl"
                id="estado_sl"
                placeholder="En proceso"
                required
                />
            </div>
        </div>
        <div class="mb-4">
          <label class="mb-1">Observaciones</label>
          <input
            class="form-control"
            type="text"
            name="observaciones_sl"
            id="observaciones_sl"
            placeholder="Pedido de urgencia para 10 min"
            required
          />
        </div>
        <div class="mb-4">
          <label class="mb-1">Cliente</label>
          <select name="cliente_sl" id="cliente_sl" class="form-control" required>
            <option value="">--Cliente--</option>
            {% for cliente in clientes %}
              <option value="{{cliente.id_sl}}">{{cliente.nombre_sl}}</option>
            {% endfor %}
          </select>
        </div>
      

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    <h3 class="text-center mt-4">Lista de Pedidos</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4" id="tabla">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Observaciones</th>
          <th>Cliente</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for pedido in pedidos %}
        <tr>
          <td>{{pedido.fecha_sl}}</td>
          <td>{{pedido.estado_sl}}</td>
          <td>{{pedido.observaciones_sl}}</td>
          <td>{{pedido.cliente_sl.nombre_sl}}</td>
          <td>
            <a
              class="btn btn-eliminar"
              href="javascript:void(0)"
              onclick="eliminarFila('/eliminarPedido/{{pedido.id_sl}}')"
              > Eliminar</a
            ><a class="btn btn-editar" href="/editarPedido/{{pedido.id_sl}}">
              Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock contenido %}
