{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,900&display=swap"
        rel="stylesheet"
    />
    <!-- bootstrap -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />
  
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <!-- IZITOAST-->
    <link rel="stylesheet" href="{% static 'css/iziToast.min.css' %}" />
    <script src="{% static 'js/iziToast.min.js' %}"></script>
    
    <!-- Jquery  -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    
    <!-- Jquery Validate -->
    <script src="{% static 'librerias/jquery-validate/jquery.validate.js' %}"></script>
    
    <!-- Mas librerias-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    
    <title>Restaurante</title>
</head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          Restaurante
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Provincias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clientes">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tipos">Tipos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/platillos">Platillos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pedidos">Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/detalles">Detalles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ingredientes">Ingredientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recetas">Recetas</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container_fluid">{% block contenido %}{% endblock %}</main>

    {% if messages %} {% for mensaje in messages %}
    <script>
      iziToast.success({
        title: "CONFIRMACION",
        message: "{{mensaje}}",
        position: "bottomRight",
      });
    </script>
    {% endfor %} {% endif %}
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>

  <script src="{% static 'js/validaciones.js' %}"></script>
  <script src="{% static 'js/data-table.js' %}"></script>
  <script src="{% static 'js/mensajes.js' %}"></script>
</html>
