
body {
    font-family: "Rubik", sans-serif !important;
    overflow-x: hidden;
}

.enlace-boton {
    font-size: 0.8rem;
}

td, th {
    text-align: center !important;
}


  label.error {
    color: red;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
  }

  input.error, select.error, textarea.error {
    border: 1px solid red;
  }

  .alert-danger {
    background-color: #eb5f7b00 !important;
    color: red;
    border: none;
    border-radius: 0;
  }

  .btn-eliminar {
    background-color: red !important;
    border-radius: 0 !important;
    border: none;
    color: #fff !important;
    padding: 0.1rem 0.5rem !important;
    font-size: 12px !important;
  }

  .btn-editar {
    background-color: green !important;
    border-radius: 0 !important;
    border: none;
    color: #fff !important;
    padding: 0.1rem 0.5rem !important;
    font-size: 12px !important;
  }